button{
    background: pink;
    color: rgb(19, 6, 6);
    border-radius: 3px;
    border: 1px solid rgb(19, 6, 6);
    font-weight: 800;
    padding: 4px 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}


body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: whitesmoke;
    text-align: center;
    color:#130e0f;
}

h1{
    font-weight: 400;
    letter-spacing: 2px;
}

#container{
    width: 100%;
}

.team {
    width: 20%;
    height: 11rem;
    border-radius: 60px 60px;
    margin: 10px;
}